extends layout

block content
  div.hero-unit
    h1 欢迎来到my_program的空间
    p 这是一个学习NodeJs的博客
    p 
      a.btn.btn-primary.btn-large(href="/login") 登录
      a.btn.btn-large(href="/reg") 立即注册
  div.row
    div.span4
      h2 nodejs说
      p nodeJs性能远远比php好得多
    div.span4
      h2 nodejs说
      p nodeJs性能远远比php好得多
    div.span4
      h2 nodejs说
      p nodeJs性能远远比php好得多
    